@charset "utf-8";

$primary: rgb(12, 81, 41);
$link: rgb(23, 55, 199);
$success: rgb(13, 172, 34);
$danger: rgb(228, 0, 38);
$dark: rgb(36, 13, 35);
$light: rgb(255, 255, 255);

@import "../node_modules/bulma/bulma.sass";