<%- layout('layouts/base') %>

<main class="container has-text-light">
    <h1 class="has-text-light title is-2">Welcome to your admin page</h1>
    <button class="button is-link"><a href="/admin/multiupload" class="has-text-light">Multiupload</a></button>
</main>