<%- layout('layouts/base') %>

<main class="container has-background-light">
    <h1 class="title is-1">Contact me</h1>
    <ul>
        <li>
            <a href="mailto:katpic967@gmail.com">Email</a>
        </li>
        <li>
            <a href="https://www.instagram.com/kathleen_redly/">Instagram</a>
        </li>
        <li>
            <a href="https://www.facebook.com/KatImages">Facebook</a>
        </li>
        <li>
            <a href="https://www.redbubble.com/people/KatImages/shop">Redbubble</a>
        </li>
        <li>
            <a href="https://localement-suisse.ch/boutique/kathleen-redly/">Localement Suisse</a>
        </li>
        <li>
            <a href="https://www.artboxy.com/profile/OmVwhCRFaYRaZ0nUJ63s?fbclid=PAAaYWmGlBvCtZ99M9rCP36v7yz2KAhsuaOMafEhbTJhWh4SNWbdY0E-Gtiig">ARTBOXY</a>
        </li>       
    </ul>
</main>