<%- layout('layouts/base') %>
	
<h1>Are you sure you want to permanently delete this image?</h1>
<h2>This will also delete associated information, i.e. tags and description</h2>
<form action="/gallery/<%= artpiece._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<a href="/gallery/<%= artpiece._id %>"><button>Go back</button></a>