<%- layout('layouts/base') %>

<h1>INDEX PAGE</h1>
<a href="/gallery/new">Upload new</a>
<% for (let artpiece of artpieces) { %>
<a href="/gallery/<%= artpiece._id %> ">
    <img src="<%= artpiece.image.thumbnail %> " alt="<%= artpiece.image.filename %>">
</a>
<% } %>