<%- layout('layouts/base') %>

    <main class="container has-background-primary">
        <div id="gallery" class="mt-5">
            <% for (let artpiece of artpieces) { %>
                <a href="/gallery/<%= artpiece._id %> ">
                    <img src="<%= artpiece.image.thumbnail %> " alt="<%= artpiece.image.filename %>">
                </a>
                <% } %>
        </div>
    </main>