<%- layout('layouts/base') %>

<h1>Add new artwork</h1>
<form action="/gallery" method="POST" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
    <label for="filename">Upload an image file</label>
    <input type="file" id="filename" name="filename" required>
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <label for="tags">Tags - please enter separated by commas</label>
    <input type="text" id="tags" placeholder="mixed media, acrylic, canvas" name="tags">
    <button type="submit">Add to gallery</button>
</form>
<a href="/gallery">Back to gallery</a>