<%- layout('layouts/base') %>

<main class="container">
    <h1 class="title is-2 mb-2">Add new artwork</h1>
    <form class="mb-4" action="/gallery" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label class="label" for="title">Title</label>
            <div class="control">
                <input class="input" type="text" id="title" name="title">
            </div>
        </div>
        <div class="field">
            <label class="label" for="filename">Upload an image file</label>
            <div class="control">
                <input class="input" type="file" id="filename" name="filename" required>
            </div>
        </div>
        <div class="field">
            <label class="label" for="description">Description</label>
            <div class="control">
                <textarea class="textarea" name="description" id="description" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="tags">Tags - please enter separated by commas</label>
            <div class="control">
                <input class="input" type="text" id="tags" placeholder="mixed media, acrylic" name="tags">
            </div>
        </div>
        <button class="button is-link" type="submit">Add to gallery</button>
    </form>
<a href="/gallery"><button class="button is-link is-small">Back to gallery</button></a>
</main>